# Web Framework
fastapi==0.115.6
uvicorn[standard]==0.34.0

# Environment Variables
python-dotenv==1.0.1

# Database (descomentar si se necesita)
# psycopg2-binary==2.9.10
# sqlalchemy==2.0.36

# Utilities
pydantic==2.10.5
pydantic-settings==2.7.1

# Development
pytest==8.3.4
pytest-asyncio==0.25.2
black==24.10.0
flake8==7.1.1
